# Environnement
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Bases de données
*.sqlite
*.db

# Logs
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# test et vscode
.pytest_cache/
.vscode/settings.json
.vscode/launch.json
git-status.log
output*.log